name: Continuous Integration and Continuous Deployment
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: sujiththirumalaisamy/cv:${{ github.sha }}

      - name: Checkout ops repo
        uses: actions/checkout@v4
        with:
          repository: sujiththirumalaisamy/kubecorner
          token: ${{ secrets.PAT }}
          path: ops
      - name: Update image tag and push
        working-directory: ops
        run: |
          sed -i 's|image: sujiththirumalaisamy/cv:.*|image: sujiththirumalaisamy/cv:${{ github.sha }}|' cv/deployment.yml
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add cv/deployment.yml
          git commit -m "Update image to ${{ github.sha }}" || echo "No changes to commit"
          git push origin main
